<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/resources/2_col_header_page_styles.css">
    <script src="/resources/pagedjs_0_4_0.js"></script>
    <title>%%TITLE%%</title>
</head>
<body>
<section class="verseRecord">
    <section class="leftColumn">
        <h2 class="verseRecordHeadLeft">%%TRANS1TITLE%%</h2>
    </section>
    <section class="rightColumn">
        <h2 class="verseRecordHeadRight">%%TRANS2TITLE%%</h2>
    </section>
</section>
</body>
</html>
