<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../resources/4_col_header_page_styles.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <script src="../../resources/pagedjs_0_4_0.js"></script>
    <title>%%TITLE%%</title>
</head>
<body>
<section class="columnHeadings">
    <section class="versoPage">
        <h2 class="verseRecordHeadLeft"><span style="float: left">%%TRANS1TITLE%%</span>&nbsp;<span style="float: right">%%TRANS2TITLE%%</span></h2>
    </section>
    <section class="rectoPage">
        <h2 class="verseRecordHeadRight"><span style="float: left">%%TRANS3TITLE%%</span>&nbsp;<span style="float: right">%%TRANS4TITLE%%</span></h2>
    </section>
</section>
<section class="columnHeadings">
    <section class="versoPage">
        <h2 class="verseRecordHeadLeft"><span style="float: left">%%TRANS1TITLE%%</span>&nbsp;<span style="float: right">%%TRANS2TITLE%%</span></h2>
    </section>
    <section class="rectoPage">
        <h2 class="verseRecordHeadRight"><span style="float: left">%%TRANS3TITLE%%</span>&nbsp;<span style="float: right">%%TRANS4TITLE%%</span></h2>
    </section>
</section>
</body>
</html>
