<table>
    <tbody>
    <tr>
        <td class="jxlGreek"> Παῦλος καὶ Τιμόθεος</td>
        <td class="jxlGloss"> Paul et Timothée,</td>
    </tr>
    <tr>
        <td class="jxlGreek"> δοῦλοι Χριστοῦ Ἰησοῦ</td>
        <td class="jxlGloss"> serviteurs du Christ Jésus</td>
    </tr>
    <tr>
        <td class="jxlGreek"> πᾶσιν τοῖς ἁγίοις</td>
        <td class="jxlGloss"> à tous les saints</td>
    </tr>
    <tr>
        <td class="jxlGreek"> ἐν Χριστῷ Ἰησοῦ</td>
        <td class="jxlGloss"> en Christ Jésus</td>
    </tr>
    <tr>
        <td class="jxlGreek"> τοῖς οὖσιν</td>
        <td class="jxlGloss"> ceux étant</td>
    </tr>
    <tr>
        <td class="jxlGreek"> ἐν Φιλίπποις</td>
        <td class="jxlGloss"> à Philippes,</td>
    </tr>
    <tr>
        <td class="jxlGreek"> σὺν ἐπισκόποις καὶ διακόνοις</td>
        <td class="jxlGloss"> avec <i>les</i> évêques et <i>les</i> diacres :</td>
    </tr>
    <tr>
        <td class="jxlGreek"> χάρις ὑμῖν καὶ εἰρήνη</td>
        <td class="jxlGloss"> <i>que la</i> grâce et <i>la</i> paix <i>soient</i> à vous</td>
    </tr>
    <tr>
        <td class="jxlGreek"> ἀπὸ Θεοῦ Πατρὸς ἡμῶν</td>
        <td class="jxlGloss"> de la part de Dieu <i>le</i> Père de nous</td>
    </tr>
    <tr>
        <td class="jxlGreek"> καὶ Κυρίου Ἰησοῦ Χριστοῦ</td>
        <td class="jxlGloss"> et du Seigneur Jésus Christ.</td>
    </tr>
    </tbody>
</table>
