@page {
    size: %%DOUBLEPAGEWIDTH%%pt %%PAGEHEIGHT%%pt;
    margin-right: %%MARGINOUTER%%pt;
    margin-left: %%MARGINOUTER%%pt;
    margin-bottom: %%MARGINBOTTOM%%pt;
    margin-top: %%FIRSTPAGEMARGINTOP%%pt;

    @top-center {
    }

    @footnote {
        float: bottom;
        columns: 2;
        column-gap: %%DOUBLEMARGININNER%%pt;
        margin-top: %%BODYLINEHEIGHT%%pt;
    }
}
