.jxlGreek {
    width: %%2COLUMNWIDTH%%pt;
    text-align: right;
    line-height: %%BODYLINEHEIGHT%%pt;
    font-size: %%BODYFONTSIZE%%pt;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    padding-right: %%HALFCOLUMNGAP%%pt;
    font-family: %%GREEKFONT%%;
}

.jxlGreek3Col {
    width: %%2COLUMNWIDTH%%pt;
    text-align: right;
    line-height: %%BODYLINEHEIGHT%%pt;
    font-size: %%BODYFONTSIZE%%pt;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    padding-right: %%HALFCOLUMNGAP%%pt;
    font-family: %%GREEKFONT%%;
}

.jxlHebrew {
    width: %%2COLUMNWIDTH%%pt;
    text-align: right;
    line-height: %%BODYLINEHEIGHT%%pt;
    font-size: %%BODYFONTSIZE%%pt;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    padding-right: %%HALFCOLUMNGAP%%pt;
    font-family: %%HEBREWFONT%%;
}

.jxlGloss {
    width: %%2COLUMNWIDTH%%pt;
    line-height: %%BODYLINEHEIGHT%%pt;
    font-size: %%BODYFONTSIZE%%pt;
    vertical-align: baseline;
    padding: 0;
    padding-left: %%HALFCOLUMNGAP%%pt;
}

.jxlGloss3Col {
    width: %%2COLUMNWIDTH%%pt;
    line-height: %%BODYLINEHEIGHT%%pt;
    font-size: %%BODYFONTSIZE%%pt;
    vertical-align: baseline;
    padding: 0;
    padding-left: %%HALFCOLUMNGAP%%pt;

}

.jxlMorph {
    line-height: %%BODYLINEHEIGHT%%pt;
    font-size: %%FOOTNOTEFONTSIZE%%pt;
    vertical-align: baseline;
    white-space: nowrap;
}

.sourceContent {
    white-space: nowrap;
}

.jxlTopText {
    line-height: %%BODYLINEHEIGHT%%pt;
    font-size: %%BODYFONTSIZE%%pt;
    font-family: %%GREEKFONT%%;
    margin-bottom: %%BODYLINEHEIGHT%%pt;
    text-align: justify
}

.jxlBottomText {
    line-height: %%BODYLINEHEIGHT%%pt;
    font-size: %%BODYFONTSIZE%%pt;
    margin-top: %%BODYLINEHEIGHT%%pt;
    text-align: justify
}

.jxlTable {
    margin-bottom: 0;
}
