.jxlGreek {
    width: %%2COLUMNWIDTH%%pt;
    text-align: right;
    line-height: %%BODYLINEHEIGHT%%pt;
    font-size: %%BODYFONTSIZE%%pt;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    padding-right: %%HALFCOLUMNGAP%%pt;
    font-family: %%GREEKFONT%%;
}

.jxlGreek3Col {
    width: %%35PCWIDTH%%pt;
    text-align: right;
    line-height: %%BODYLINEHEIGHT%%pt;
    font-size: %%BODYFONTSIZE%%pt;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    padding-right: %%HALFCOLUMNGAP%%pt;
    font-family: %%GREEKFONT%%;
}

.jxlHebrew {
    width: %%2COLUMNWIDTH%%pt;
    text-align: right;
    line-height: %%BODYLINEHEIGHT%%pt;
    font-size: %%BODYFONTSIZE%%pt;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    padding-right: %%HALFCOLUMNGAP%%pt;
    font-family: %%HEBREWFONT%%;
}

.jxlGloss {
    width: %%2COLUMNWIDTH%%pt;
    line-height: %%BODYLINEHEIGHT%%pt;
    font-size: %%BODYFONTSIZE%%pt;
    vertical-align: baseline;
    padding: 0;
    padding-left: %%HALFCOLUMNGAP%%pt;
}

.jxlGloss3Col {
    width: %%45PCWIDTH%%pt;
    line-height: %%BODYLINEHEIGHT%%pt;
    font-size: %%BODYFONTSIZE%%pt;
    vertical-align: baseline;
    padding: 0;
    padding-left: %%HALFCOLUMNGAP%%pt;

}

.jxlVerbs {
    width: %%20PCWIDTH%%pt;
    line-height: %%BODYLINEHEIGHT%%pt;
    font-size: %%FOOTNOTEFONTSIZE%%pt;
    vertical-align: baseline;
    padding: 0;
    padding-left: %%HALFCOLUMNGAP%%pt;
}

.jxlTable {
    margin-bottom: 0;
}
