%%%ATPAGE%%%

%%%BODY%%%

%%%P%%%

%%%H1%%%

%%%2COL%%%

.verseRecord {
    page-break-inside: avoid;
    vertical-align: top;
    display: flex;
}

.col1, .col2 {
    vertical-align: top;
    display: inline-block;
    width: %%2COLUMNWIDTH%%pt;
    text-align: justify;
}

.col2 {
    margin-right: 12pt;
    text-indent: 1em;
}

.cv {
    font-style: italic;
    font-weight: bold;
}

%%%FOOTNOTE%%%
