@page {
    size: %%PAGEWIDTH%%pt %%PAGEHEIGHT%%pt;
    margin-bottom: %%MARGINBOTTOM%%pt;
    margin-top: %%MARGINTOP%%pt;
    @footnote {
        float: bottom;
        margin-top: %%FOOTEROFFSET%%pt;
    }
}
@page :first {
    margin-top: %%FIRSTPAGEMARGINTOP%%pt;
}
@page :left {
    margin-left: %%MARGINOUTER%%pt;
    margin-right: %%MARGININNER%%pt;
}
@page :right {
    margin-left: %%MARGININNER%%pt;
    margin-right: %%MARGINOUTER%%pt;
}

body {
    font-size: %%BODYFONTSIZE%%pt;
    line-height: %%BODYLINEHEIGHT%%pt;
    font-family: %%BODYFONT%%;
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: %%H1FONTSIZE%%pt;
    line-height: %%H1LINEHEIGHT%%pt;
    font-weight: bold;
    margin: 0;
    margin-bottom: %%H1BOTTOMMARGIN%%pt;
    border-bottom: %%H1BOTTOMBORDERWIDTH%%pt solid black;
    padding-bottom: %%H1BOTTOMPADDING%%pt;
    width: %%PAGEBODYWIDTH%%pt;
    font-family: %%HEADINGFONT%%;
}

h2.verseRecordHeadLeft, h2.verseRecordHeadRight {
    font-size: %%H4FONTSIZE%%pt;
    line-height: %%H4LINEHEIGHT%%pt;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    width: %%2COLUMNWIDTH%%pt;
    font-family: %%HEADINGFONT%%;
}

h2.verseRecordHeadLeft {
    text-align: left;
}

h2.verseRecordHeadRight {
    text-align: right;
}

.leftColumn {
    display: inline-block;
    width: %%2COLUMNWIDTH%%pt;
    vertical-align: top;
    margin-right: %%HALFCOLUMNGAP%%pt;
}

.rightColumn {
    width: %%2COLUMNWIDTH%%pt;
    display: inline-block;
    vertical-align: top;
    margin-left: %%HALFCOLUMNGAP%%pt;
}

.verseRecord {
    page-break-inside: avoid;
    vertical-align: top;
    display: flex;
}

.col1, .col2 {
    vertical-align: top;
    display: inline-block;
    width: %%2COLUMNWIDTH%%pt;
    text-align: justify;
}

.col2 {
    margin-right: 12pt;
    text-indent: 1em;
}

::footnote-call {
    font-weight: bold;
    font-size: 70%;
    vertical-align: baseline;
    position: relative;
    top: -0.5em;
    padding-left: 1pt;
}

::footnote-marker {
    font-weight: bold;
}
.cv {
    font-style: italic;
    font-weight: bold;
}
.note {
    font-size: %%FOOTNOTEFONTSIZE%%pt;
    line-height: %%FOOTNOTELINEHEIGHT%%pt;
    text-align: justify;
    float: footnote;
    margin-bottom: 0pt;
    padding-left: 6pt;
    text-indent: -6pt;
    font-family: %%FOOTNOTEFONT%%;
}

.note .b {
    font-weight: bold;
}
