@page {
    size: %%DOUBLEPAGEWIDTH%%pt %%PAGEHEIGHT%%pt;
    margin-right: %%MARGINOUTER%%pt;
    margin-left: %%MARGINOUTER%%pt;
    margin-bottom: %%MARGINBOTTOM%%pt;
    margin-top: %%FIRSTPAGEMARGINTOP%%pt;

    @top-center {
    }

    @footnote {
        float: bottom;
        columns: 2;
        column-gap: %%DOUBLEMARGININNER%%pt;
        margin-top: %%BODYLINEHEIGHT%%pt;
    }
}

body {
    font-size: %%BODYFONTSIZE%%pt;
    line-height: %%BODYLINEHEIGHT%%pt;
    font-family: %%BODYFONT%%;
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: %%H1FONTSIZE%%pt;
    line-height: %%H1LINEHEIGHT%%pt;
    font-weight: bold;
    margin: 0;
    margin-bottom: %%H1BOTTOMMARGIN%%pt;
    border-bottom: %%H1BOTTOMBORDERWIDTH%%pt solid black;
    padding-bottom: %%H1BOTTOMPADDING%%pt;
    width: %%PAGEBODYWIDTH%%pt;
    font-family: %%HEADINGFONT%%;
}

h2.verseRecordHeadLeft, h2.verseRecordHeadRight {
    font-size: %%H4FONTSIZE%%pt;
    line-height: %%H4LINEHEIGHT%%pt;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    width: %%PAGEBODYWIDTH%%pt;
    font-family: %%HEADINGFONT%%;
}

.versoPage {
    display: inline-block;
    width: %%PAGEBODYWIDTH%%pt;
    vertical-align: top;
    margin-right: %%MARGININNER%%pt;
}

.rectoPage {
    width: %%PAGEBODYWIDTH%%pt;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: %%MARGININNER%%pt;
}

.verseRecord {
    page-break-inside: avoid;
    vertical-align: top;
    display: inline-flex;
}

.col1, .col2, .col3, .col4 {
    vertical-align: top;
    display: inline-block;
    width: %%2COLUMNWIDTH%%pt;
    text-align: justify;
}

.col1, .col3 {
    margin-right: 12pt;
}

.columnHeadings {
    page-break-inside: avoid;
    break-after: page;
    vertical-align: top;
    display: inline-flex;
    font-family: %%HEADINGFONT%%;
}
