%%%ATDOUBLEPAGEHEADER%%%

%%%BODY%%%

%%%P%%%

%%%H1%%%

%%%4COL%%%

.col1, .col2, .col3, .col4 {
    vertical-align: top;
    display: inline-block;
    width: %%2COLUMNWIDTH%%pt;
    text-align: justify;
}

.col1, .col3 {
    margin-right: 12pt;
}

.columnHeadings {
    page-break-inside: avoid;
    break-after: page;
    vertical-align: top;
    display: inline-flex;
}
