%%%ATDOUBLEPAGE%%%

@page :first {
    margin-top: %%FIRSTPAGEMARGINTOP%%pt;
}

%%%BODY%%%

%%%P%%%

%%%H1%%%

%%%4COL%%%

.col1, .col2, .col3, .col4 {
    vertical-align: top;
    display: inline-block;
    width: %%2COLUMNWIDTH%%pt;
    text-align: justify;
}

.col1, .col3 {
    margin-right: 12pt;
}
.col2, .col3, .col4 {
    text-indent: 1em;
}

%%%FOOTNOTE%%%

.cv {
    font-style: italic;
    font-size: 80%;
}
