%%%ATPAGE%%%

%%%BODY%%%

%%%P%%%

%%%H1%%%

.cvCol {
    font-style: italic;
    font-weight: bold;
    width: %CVCOLUMNWIDTH%pt;
}
.verseContent {
    display: inline-block;
    width: %VERSECOLUMNWIDTH%pt;
    vertical-align: top;
}

.verseRecord {
    page-break-inside: avoid;
    vertical-align: top;
    display: flex;
}

%%%FOOTNOTE%%%
