%%%ATPAGE%%%

%%%BODY%%%

%%%P%%%

%%%H1%%%

.leftColumn {
    display: inline-block;
    vertical-align: top;
    margin-right: %%HALFCOLUMNGAP%%pt;
    text-align: left;
}

.rightColumn {
    display: inline-block;
    vertical-align: top;
    margin-left: %%HALFCOLUMNGAP%%pt;
}

.verseRecord {
    page-break-inside: avoid;
    vertical-align: top;
    display: flex;
    padding-bottom: %%RULEPADDING%%pt;
    border-bottom: %%RULEWIDTH%%pt solid black;
    margin-bottom: %%RULEMARGIN%%pt
}

.col1, .col2 {
    vertical-align: top;
    display: inline-block;
}

.col2 {
}
.cv {
    font-style: italic;
    font-weight: bold;
}
.note {
    font-family: %%BODYFONT2%%;
    display: list-item;
    list-style-type: lower-alpha;
    list-style-position: inside;
    font-size: %%FOOTNOTEFONTSIZE%%pt;
    line-height: %%BODYLINEHEIGHT%%pt;
    text-align: justify;
    margin-bottom: 0pt;
    margin-left: 10pt;
}

.note .b {
    font-weight: bold;
}
