%%%ATDOUBLEPAGE%%%

%%%BODY%%%

%%%P%%%

%%%H1%%%

%%%JUXTA%%%

.jxlTable {
    margin-bottom: %%BODYLINEHEIGHT%%pt;
}

h2.phraseN {
    font-size: %%BODYFONTSIZE%%pt;
    line-height: %%BODYLINEHEIGHT%%pt;
    font-weight: bold;
    margin: 0;
    padding-bottom: %%RULEPADDING%%pt;
    margin-bottom: %%RULEMARGIN%%pt;
    border-bottom: solid %%RULEWIDTH%%pt black;
    width: %%PAGEBODYWIDTH%%pt;
    text-align: left;
    font-family: %%HEADINGFONT%%;
}

h2.sentenceRef {
    font-size: %%BODYFONTSIZE%%pt;
    line-height: %%BODYLINEHEIGHT%%pt;
    font-weight: bold;
    margin: 0;
    padding-bottom: %%RULEPADDING%%pt;
    margin-bottom: %%RULEMARGIN%%pt;
    border-bottom: solid %%RULEWIDTH%%pt black;
    width: %%PAGEBODYWIDTH%%pt;
    text-align: right;
    font-family: %%HEADINGFONT%%;
}

.transAbbr {
    font-family: %%BODYFONT%%;
    font-weight: bold;
    font-style: italic;
    padding-right: 4pt;
}

.transAbbr {
    font-size: %%H4FONTSIZE%%pt;
    font-weight: bold;
}

.leftPane {
    display: inline-block;
    width: %%PAGEBODYWIDTH%%pt;
    vertical-align: top;
    margin-right: %%MARGININNER%%pt;
}

.rightPane {
    width: %%PAGEBODYWIDTH%%pt;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: %%MARGININNER%%pt;
}

.rightPane table {
    width: %%PAGEBODYWIDTH%%pt;
    border-collapse: collapse;
}

.sentence {
    string-set: sentenceN attr(data-n), cvRef attr(data-cv);
    page-break-inside: avoid;
    vertical-align: top;
    padding-bottom: %%BODYLINEHEIGHT%%pt;
}

.firstLeft, .otherLeft {
    text-align: left;
    margin-bottom: %%BODYFONT%%pt;
    padding-left: 6pt;
    text-indent: -6pt;
}

.chapterNote {
    page-break-inside: avoid;
    break-before: page;
    padding-bottom: %%DOUBLEBODYLINEHEIGHT%%pt;
    font-family: "Open Sans", sans-serif;
}

.bookNote {
    break-after: page;
    font-family: %%BODYFONT2%%;
}

.bookNoteBody {
    columns: 2;
    column-gap: %%DOUBLEMARGININNER%%pt;
}

.chapterNoteBody {
    columns: 2;
    column-gap: %%DOUBLEMARGININNER%%pt;
}

%%%FOOTNOTE%%%
