@page {
    size: %%PAGEWIDTH%%pt %%PAGEHEIGHT%%pt;
    margin-bottom: 0;
    margin-top: 0;
}
@page :left {
    margin-left: %%MARGINOUTER%%pt;
    margin-right: %%MARGININNER%%pt;
}
@page :right {
    margin-left: %%MARGININNER%%pt;
    margin-right: %%MARGINOUTER%%pt;
}
body {
    font-size: 9pt;
    font-family: %%BODYFONT%%;
    text-align: center;
}

.pagenum {
    padding-top: %%PAGENUMBERTOPMARGIN%%pt;
    text-align: center;
    page-break-after: always;
}
