@page {
    size: %%PAGEWIDTH%%pt %%PAGEHEIGHT%%pt;
    margin-bottom: 0;
    margin-top: 0;
}

%%%BODY%%%

.pagenum {
    padding-top: %%PAGENUMBERTOPMARGIN%%pt;
    text-align: center;
    page-break-after: always;
}
