@page {
    size: 297mm 210mm;
    margin-right: 15mm;
    margin-left: 15mm;

}
@page :right {
    margin-top: 25mm;
    margin-bottom: 15mm;
    @bottom-center {
        font-size: 9pt;
        font-family: "Open Sans ExtraBold", sans-serif;
        content: "Page " counter(page);
    }
}

@page :left {
    margin-top: 15mm;
    margin-bottom: 25mm;
    @top-center {
        font-size: 9pt;
        font-family: "Open Sans ExtraBold", sans-serif;
        content: "Page " counter(page);
    }
}
body {
    font-size: 9pt;
    line-height: 10pt;
    font-family: "Open Sans", sans-serif;
}
p {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 9pt;
    line-height: 10pt;
    font-family: "Open Sans ExtraBold", sans-serif;
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding-bottom: 3.5pt;
    margin-bottom: 5pt;
    border-bottom: solid 1.5pt black;
}
.phraseN {
    float: none;
}
.sentenceRef {
    float: right;
}
.transAbbr {
    font-family: "Open Sans SemiCondensed SemiBold", sans-serif;
    font-weight: bold;
    font-style: italic;
    padding-right: 6pt;
    text-decoration: underline;
    text-decoration-thickness: 0.5pt;
}
.leftPane {
    display: inline-block;
    width: 135mm;
    vertical-align: top;
    padding-right: 2.5mm;
}
.rightPane {
    width: 127mm;
    height: 100%;
    display: inline-block;
    padding-left: 2.5mm;
}
.rightPane table {
    width: 127mm;
    border-collapse: collapse;
}
.sentence {
    string-set: sentenceN attr(data-n), cvRef attr(data-cv);
    page-break-inside: avoid;
    vertical-align: top;
    padding-bottom: 10pt;
}
.firstLeft {
    text-align: justify;
    padding-left: 12pt;
    text-indent: -12pt;
}
.otherLeft {
    margin-top: 10pt;
    text-align: justify;
    padding-left: 12pt;
    text-indent: -12pt;
}
.greekLeft {
    font-family: Cardo, serif;
}
.transLeft {}
.jxlGreek {
    width: 60mm;
    font-family: Cardo, serif;
    text-align: right;
    margin: 0;
    padding: 0;
    padding-right: 2pt;

}
.jxlGloss {
    width: 62mm;
    font-family: "Open Sans", sans-serif;
    padding-left: 3pt;
}
.note_caller {
    font-weight: bold;
    font-size: 6pt;
    font-family: "Open Sans ExtraBold", sans-serif;
    vertical-align: baseline;
    padding-left: 0.5em;
}
.jxl_notes {
    border-top: solid 1pt black;
    padding-top: 4pt;
    margin-top: 5pt;
}
.chapterNote {
    page-break-inside: avoid;
    break-before: page;
    padding-bottom: 50pt;
}
.bookNote {
    break-after: page;
}
.bookNoteBody {
    columns: 3;
    column-gap: 36pt;
}
.chapterNoteBody {
    columns: 3;
    column-gap: 36pt;
}
.note {
    font-size: 8pt;
    font-family: "Open Sans Condensed Light", sans-serif;
    padding-left: 1.2em;
    text-indent: -1.2em;
    text-align: justify;
}
.note .b {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: normal;
}
.note_n {
    font-weight: bold;
    font-size: 6pt;
    font-family: "Open Sans ExtraBold", sans-serif;
    vertical-align: top;
}
.note_h2, .note_h3, .note_h4, .note_body {
    margin-bottom: 10pt;
}
.note_h2, .note_h3, .note_h4 {
    -webkit-column-break-after: avoid;
}
.note_h2 {
    font-family: "Open Sans SemiBold", sans-serif;
}
.note_h3 {
    margin-top: 10px;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
}
.note_h4 {
    font-style: italic;
}

.note_body {
    text-align: justify
}
.note_list1 {
    padding-left: 1em;
    font-family: "Open Sans Condensed Light", sans-serif;
    font-weight: bold;
}
.note_list2 {
    display: list-item;
    list-style-type: circle;
    list-style-position: inside;
    padding-left: 2em;
    font-family: "Open Sans Condensed Light", sans-serif;
 }
.front_body {
    columns: 3;
    column-gap: 36pt;
    text-align: justify;
    break-after: recto;
}

.front_body p {
    margin-bottom: 10pt;
    break-inside: avoid;
}
.front_body h2 {
    margin: 0;
    margin-bottom: 10pt;
    font-size: 9pt;
    line-height: 10pt;
    font-family: "Open Sans SemiBold", sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: left;
}
